.navbar-self{
    padding: 0;
}
#fixedNavbarFix{
    margin-top: 70px; 
    transition: margin-top 0.3s ease-in-out;
}
@media (min-width: 992px) {
    #fixedNavbarFix{
        margin-top: 70px !important;; 
        transition: margin-top 0.3s ease-in-out ;
    }
}
#logo-parent-A{
    margin-left: 194px;
    margin-left: 13.472vw;
}
.logo-brand{
    width: 104px;
}
.search-bar{
    width: 216px;
    height: 28px; 
    font-family: Arial, FontAwesome; 
}
.search-bar::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    background-size: 6%;
    background-image: url('/img/search-solid.svg');
    background-repeat: no-repeat;
    background-size: 14px;  
    background-position: 120px center;

}
.hidden{
    white-space: nowrap;
}
